
@{
    ViewBag.Title = "Grammar";
    Layout = "~/Views/Shared/_Cover.cshtml";
}

@section Style{
    <link rel="stylesheet" href="/Content/CSS/Pages/Grammar/Grammar.css" />
}
        <main class="main columns">
            <section class="column main-column">
                <a class="article first-article" href="http://easy-english.com.ua/present-simple/" target="_blank">
                    <figure class="article-image ">
                        <img src="https://i.ytimg.com/vi/6Qd1xAikoQc/maxresdefault.jpg"/>
                    </figure>
                    <div class="article-body">
                        <h2 class="article-title">
                            Present Simple
                        </h2>
                        <p class="article-content">
                            Present Simple (Present Indefinite) – теперішній простий час англійської мови. Найпростіший час з усіх, вживається регулярно для позначення дій, що відбуваються у теперішньому часі в найширшому сенсі цього слова...
                        </p>
                        <footer class="article-info">
                            <span>By Easy-English.com.ua</span>
                        </footer>
                    </div>
                </a>

                <div class="columns">
                    <div class="column nested-column">
                        <a class="article" href="http://easy-english.com.ua/future-simple/">
                            <figure class="article-image is-16by9">
                                <img src="~/Content/Image/Articles/Future-Simple.jpg" />
                            </figure>
                            <div class="article-body">
                                <h2 class="article-title">
                                    Future Simple
                                </h2>
                                <p class="article-content">
                                    Future Simple (Future Indefinite) – майбутній простий час англійської мови. Зазвичай він використовується для позначення події, що може статися в неозначеному майбутньому або ж у дуже далекому майбутньому...
                                </p>
                                <footer class="article-info">
                                    <span>By Easy-English.com.ua</span>
                                </footer>
                            </div>
                        </a>
                    </div>

                    <div class="column">
                        <a class="article" href="http://easy-english.com.ua/present-continuous/">
                            <figure class="article-image is-16by9">
                                <img src="~/Content/Image/Articles/Present Continuous.jpg" />
                            </figure>
                            <div class="article-body">
                                <h2 class="article-title">
                                    Present Continuous
                                </h2>
                                <p class="article-content">
                                    Present Continuous – теперішній тривалий час англійської мови. Використовується...
                                </p>
                                <footer class="article-info">
                                    <span>By Easy-English.com.ua</span>
                                </footer>
                            </div>
                        </a>
                        <a class="article" href="http://easy-english.com.ua/past-continuous/">
                            <div class="article-body">
                                <h2 class="article-title">
                                    Past Continuous
                                </h2>
                                <p class="article-content">
                                    Past Continuous – минулий тривалий час англійської мови. Використовується для вказування на процес, що відбувався деякий час в минулому, при цьому має бути точно вказаний час, коли відбувалася дія або ж це має бути зрозумілим з контексту речення...
                                </p>
                                <footer class="article-info">
                                    <span>By Easy-English.com.ua</span>
                                </footer>
                            </div>
                        </a>
                        <a class="article" href="http://easy-english.com.ua/future-continuous/">
                            <div class="article-body">
                                <h2 class="article-title">
                                    Future Continuous
                                </h2>
                                <p class="article-content">
                                    Future Continuous – майбутній тривалий час в англійській мові. Вказує на процес, що буде відбуватися в майбутньому в певний проміжок часу...
                                </p>
                                <footer class="article-info">
                                    <span>By Easy-English.com.ua</span>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section class="column">
                <a class="article" href="http://easy-english.com.ua/past-simple/">
                    <figure class="article-image is-3by2">
                        <img src="~/Content/Image/Articles/Past Simple.jpg" />
                    </figure>
                    <div class="article-body">
                        <h2 class="article-title">
                            Past Simple
                        </h2>
                        <p class="article-content">
                            Past Simple (Past Indefinite) – простий неозначений час в англійській мові, що найчастіше використовується для позначення дії котра відбувалася в минулому і вже є завершеною...
                        </p>
                        <footer class="article-info">
                            <span>By Easy-English.com.ua</span>
                        </footer>
                    </div>
                </a>
                <a class="article" href="http://easy-english.com.ua/past-perfect/">
                    <div class="article-body">
                        <h2 class="article-title">
                            Past Perfect
                        </h2>
                        <p class="article-content">
                            Past Perfect – минулий доконаний (перфектний) час  в англійській мові. Використовується для позначення подій, що завершилися перед будь-якою дією в минулому...
                        </p>
                        <footer class="article-info">
                            <span>By Easy-English.com.ua</span>
                        </footer>
                    </div>
                </a>
                <a class="article" href="http://easy-english.com.ua/irregular-verbs/">
                    <div class="article-body">
                        <h2 class="article-title">
                            Irregular verbs
                        </h2>
                        <p class="article-content">
                            Неправильні дієслова в англійській мові (irregular verbs) – це такі дієслова, минулий час яких (Past Simple та Past Participle) не утворюється за допомогою додавання закінчення -ed.
                        </p>
                        <footer class="article-info">
                            <span>By Easy-English.com.ua</span>
                        </footer>
                    </div>
                </a>
                <a class="article" href="http://easy-english.com.ua/future-perfect/">
                    <div class="article-body">
                        <h2 class="article-title">
                            Future Perfect
                        </h2>
                        <p class="article-content">
                            Future Perfect - майбутній доконаний (перфектний) час англійської мови. Цей час використовується досить рідко. Він позначає дію, яка закінчиться в деякий час у майбутньому або буде продовжуватися після певного часу в майбутньому.
                        </p>
                        <footer class="article-info">
                            <span>By Easy-English.com.ua</span>
                        </footer>
                    </div>
                </a>
            </section>
        </main>

