@model List<string>
@using Diplomka.HtmlGenerator;
@{
    ViewBag.Title = "Translate";
    Layout = "~/Views/Shared/_Cover.cshtml";
}

@section Style
    {
    <link rel="stylesheet" href="~/Content/CSS/Pages/Translate/Translate.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
}
@using (Html.BeginForm("Translate", "Home", FormMethod.Post))
{
    <div class="in-button">
        @Html.TextBox("Word", null, new { @class = "input-word", placeholder = "Enter your word here" })
        <input class="btn-translate" type="submit" value="Translate" />
    </div>

}

@if (Model != null)
{
    @Html.Translated(ViewBag.word as string, Model);
}




